body {
    background-color: #ffffff;
    color: black;
}
a {
    color: inherit;
}
dl, dt, dd {
    margin:0;
}
dl {
    float: left;
    outline: rgba(255, 255, 255, .8) dotted 1px;
    width: 6em;
    height: 5em;
    margin-top: .5em;
    margin-right: .5em;
    padding: .5em;
}
dd {
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
}
.char {
    display: block;
    margin: 0 auto;
    width:2em;
    height:2em;
    padding:.5em;
}
.char svg {
    height:2em;
}
.char-code {
    display: none;
}
.show-code .char-code {
    display: block;
}
.char-name {
    display: block;
}
.show-code .char-name {
    display: none;
}
.char:link {
    text-decoration: none;
}