      body {
	  margin: 0 auto 0 auto;
	  padding-left: 18px;
	  padding-right: 18px;
	  padding-bottom: 30px;
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  color: #333333;
	  background-color: #ffffff;
	  max-width: 876px;
	  font-size: 13px;
      }

      a {
	  color: #3366cc;
	  text-decoration: underline;
	  cursor: pointer;
      }
      
      img {
	  border: 0;
      }

      p {
	  clear: both;
	  line-height: 1.25em;
	  text-align: justify;
      }

      table {
	  border-style: none;
      }

      table.visual {
	  border-style: none;
      }

      .visual td, th {
	  text-align: center;
	  padding: .4em 1.5em .4em 1.5em;
	  border: 1px solid;
      }

      table.align {
	  border: 0px solid;
      }

      th {
	  background-color: #aabbff;
      }

      img.caption {
	  margin-left: auto;
	  margin-right: auto;
	  margin-top: 3em;
	  margin-bottom: 2em;
	  display: block;
      }

      div.caption {
	  display: block;
	  text-align: center;
	  font-style: italic;
	  color: #5f8097;
	  margin-left: 8em;
	  margin-right: 8em;
	  padding-bottom: 1em;
	  margin-bottom: 3em;
	  border-bottom: 1px solid #9FC0D7;
      }
      
      div.plus {
	  padding-bottom: 0em;
	  border: 0px;
      }

      .caption p {
	  line-height: 1.23em;
	  text-align: center;
	  padding: 0px;
	  margin-top: 1em;
	  margin-bottom: -1em;
	  padding-bottom: 1em;
	  clear: none;
      }

      .clearme {
	  clear: left;
      }

      .caption img, .caption div {
	  position: relative;
	  float: left;
	  margin: 0px;
	  padding: 0px;
	  margin-right: 2em;
	  margin-bottom: 1.5em;
      }

      .caption div {
	  background: white;
      }

      hr {
	  height: 1px;
	  border: 0px solid #ffffff;
	  border-bottom: 1px solid #9fc0d7;
	  width: 100%;
	  padding: 0px;
	  margin: 2em;
	  margin-bottom: 1em;
	  margin-left: auto;
	  margin-right: auto;
      }

      .audiowrapper audio {
          padding: 0px;
          width: 100%;
          position: absolute;
          bottom: 0px;
          z-index: 1;
      }

      .caption .demowrapper {
	  float: none;
	  clear: both;
	  background: none;
          padding: 0px;
          margin: 0px;
          width: 100%;
      }

      .audiowrapper {
	  background: none;
          padding: 0px;
          margin-bottom: .5em;
          height: 2em;
          width: 100%;
      }

      .caption img.center {
	  float: none;
	  margin: 0px;
	  padding: 0px;
	  margin-left: auto;
	  margin-right: auto;
      }

      .broken {
	  color: #c0c0c0
      }

      #xiphlogo {
	  margin: 0px -74px 16px -74px;
	  padding-top: 30px;
	  border: 0px;
	  overflow: hidden;
      }

      #xiphlogo img, #xiphlogo a img{
	  float: left;
	  margin-right: 3em;
      }

      h1 {
	  padding: 0px;
	  margin: 1.3em 0 8px 0;
	  font-size: 1.5em;
	  position: relative;
	  float: right;
	  margin: 14px;
	  padding-top: 36px;
	  margin-top: -.8em;
	  font-weight: bold;
	  color: #ff9900;
      }
      
      .or {
	  padding: 0px;
	  margin: 0px;
	  margin-top: -14px;
	  margin-right: 14px;
	  font-size: 1em;
	  position: relative;
	  clear: right;
	  float: right;
	  color: #0000f0;
      }
      
      h2, h2 a, h3, h3 a {
	  font-weight: bold;
	  color: #ff9900;
	  margin: 1.3em 0 8px 0;
      }

      h2 {
	  font-size: 1.2em;
      }

      h3 {
	  font-size: 1.1em;
      }

      li {
	  line-height: 1.4;
      }

      tt {
	  color: #000080;
      }

      i {
	  color: #606000;
      }

      .matrix {
	  font-face: mono;
	  font-weight: bold;
      }

      .super {
	  position: relative;
	  top: -.5em;
	  font-size: 0.8em;
      }

      .sub {
	  position: relative;
	  top: .5em;
	  font-size: 0.8em;
      }

      address {
	  text-align: center;
	  margin-bottom: 1.5em;
      }

      .equation{
	  text-align: center;
	  margin: 1em;
	  margin-left: auto;
	  margin-right: auto;
	  font-size: 1.2em;
      }

      .function{
	  font-size: 1.2em;
	  font-weight: normal;
	  font-face: mono;
	  font-style: italic;
      }

      .variable{
	  font-face: mono;
	  font-weight: bold;
	  font-style: normal;
      }

      .et {
	  display: table;
	  border: 0px;
	  overflow: hidden;
	  color: #808080;
	  font-size: .9em;
	  text-align: center;
	  width: 100%;
      }

      .etleft {
	  display: table-cell;
	  vertical-align: middle;
	  margin-right: 1em;
      }

      .etright {
	  display: table-cell;
	  vertical-align: middle;
	  margin-left: 1em;
      }

      .etright img{
	  margin-left: 1em;
      }

      .etleft img{
	  margin-right: 1em;
      }

      .etcenter {
	  display: table-cell;
	  vertical-align: middle;
      }

      .mr {
	  display: table;
	  border: 0px;
	  overflow: hidden;
	  color: #808080;
	  font-size: .9em;
	  text-align: center;
	  width: 100%;
      }

      .mrleft {
	  display: table-cell;
	  vertical-align: middle;
	  margin-right: 1em;
      }

      .mrright {
	  display: table-cell;
	  vertical-align: middle;
	  margin-left: 1em;
	  width: 380px;
      }

      .mrright img{
	  float: right;
	  margin: 0px;
      }

      .mrcenter {
	  display: table-cell;
	  vertical-align: middle;
      }
      .demo, .prebox {
	  color: #000000;
	  background-color: #e1f8fd;
	  background: -moz-linear-gradient(top, #e1f8fd, #ccf5fd);
	  background: -webkit-linear-gradient(top, #e1f8fd, #ccf5fd);
	  background: -ms-linear-gradient(top, #e1f8fd, #ccf5fd);
	  background: -o-linear-gradient(top, #e1f8fd, #ccf5fd);
	  margin: 2em;
	  margin-left: 0em;
	  margin-right: 0em;
	  margin-bottom: 1.5em;
	  padding: 1em;
	  padding-bottom: 0em;
	  border-radius: 15px;
	  border: 2px solid #b8dde6;
	  min-width: 840px;
      }

      .demo table {
	  margin-left: auto;
	  margin-right: auto;

      }

      .demo table .title {
	  font-weight: bold;
	  font-size: 1.2em;
	  color: #203090;
	  text-align: center;
      }

      .demo .ribbon {
	  margin-top: 1em;
	  margin-left: auto;
	  margin-right: auto;
	  text-align: center;
      }

      .demo .caption {
	  margin: 1.5em 1em .2em 1em;
	  padding-bottom: 2em;
	  color: #3f5087;
      }

      .prebox {
	  display: table;
	  border: 1px solid #b8dde6;
	  min-width: 0px;
	  margin: 1.5em;
	  padding: 1em;
	  padding-bottom: 1.15em;
	  margin-left: auto;
	  margin-right: auto;
	  overflow: hidden;
      }

      .unbox {
	  display: table;
	  min-width: 0px;
	  margin: 1.5em;
	  margin-left: auto;
	  margin-right: auto;
	  overflow: hidden;
      }

      .unbox div {
	  display: table-cell;
	  vertical-align: middle;
	  padding: 0px;
	  margin: 0px;
	  overflow: hidden;
      }

      .prebox .preimg {
	  display: table-cell;
	  vertical-align: top;
	  padding: 0px;
	  padding-top: .35em;
	  padding-left: 3em;
	  padding-right: 3em;
      }

      .prebox pre {
	  display: table-cell;
	  vertical-align: top;
	  padding: 0px;
	  padding-left: 3em;
	  padding-right: 3em;
      }

      .prebox hr {
	  border-bottom: 1px solid #b8dde6;
	  margin: 1em;
	  width: auto;
      }

      .preload {
	  position: absolute;
	  height: 0px;
      }

      .preload img{
	  height: 0px;
	  visibility: hidden;
      }
