@charset "utf-8";
/* CSS Document */


/* root element for tooltabs  */
ul.tooltabs {
    list-style:none;
    margin:0 !important;
    padding:0;
    border-bottom:1px solid #666;
    height:30px;
}

/* single tab */
ul.tooltabs li {
    float:left;
    text-indent:0;
    padding:0;
    margin:0 !important;
    list-style-image:none !important;
}

/* link inside the tab. uses a background image */
ul.tooltabs a {
    background: url(../images/bluetabs.png) no-repeat -420px 0;
    font-size:11px;
    display:block;
    height: 30px;
    line-height:30px;
    width: 134px;
    text-align:center;
    text-decoration:none;
    color:#333;
    padding:0px;
    margin:0px;
    position:relative;
    top:1px;
}

ul.tooltabs a:active {
    outline:none;
}

/* when mouse enters the tab move the background image */
ul.tooltabs a:hover {
    background-position: -420px -31px;
    color:#fff;
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
ul.tooltabs a.current, ul.tooltabs a.current:hover, ul.tooltabs li.current a {
    background-position: -420px -31px;
    cursor:default !important;
    color:#fff !important;
}

/* Different widths for tabs: use a class name: w1, w2, w3 or w2 */


/* width 1 */
ul.tooltabs a.s { background-position: -553px 0; width:81px; }
ul.tooltabs a.s:hover { background-position: -553px -31px; }
ul.tooltabs a.s.current  { background-position: -553px -62px; }

/* width 2 */
ul.tooltabs a.l { background-position: -248px -0px; width:174px; }
ul.tooltabs a.l:hover { background-position: -248px -31px; }
ul.tooltabs a.l.current { background-position: -248px -62px; }


/* width 3 */
ul.tooltabs a.xl { background-position: 0 -0px; width:248px; }
ul.tooltabs a.xl:hover { background-position: 0 -31px; }
ul.tooltabs a.xl.current { background-position: 0 -62px; }


/* initially all panes are hidden */
.panes .pane {
    display:none;
	margin-top:10px;
	margin-bottom:10px;
}


/******************************/

/* root element for tabs  */
ul.subtabs {
    list-style:none;
    margin:0 !important;
    padding:0;
    border-bottom:1px solid #666;
    height:30px;
}

/* single tab */
ul.subtabs li {
    float:left;
    text-indent:0;
    padding:0;
    margin:0 !important;
    list-style-image:none !important;
}

/* link inside the tab. uses a background image */
ul.subtabs a {
    background: url(../images/bluetabs.png) no-repeat -420px 0;
    font-size:11px;
    display:block;
    height: 30px;
    line-height:30px;
    width: 134px;
    text-align:center;
    text-decoration:none;
    color:#333;
    padding:0px;
    margin:0px;
    position:relative;
    top:1px;
}

ul.subtabs a:active {
    outline:none;
}

/* when mouse enters the tab move the background image */
ul.subtabs a:hover {
    background-position: -420px -31px;
    color:#fff;
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
ul.subtabs a.current, ul.subtabs a.current:hover, ul.subtabs li.current a {
    background-position: -420px -31px;
    cursor:default !important;
    color:#fff !important;
}

/* Different widths for tabs: use a class name: w1, w2, w3 or w2 */


/* width 1 */
ul.subtabs a.s { background-position: -553px 0; width:81px; }
ul.subtabs a.s:hover { background-position: -553px -31px; }
ul.subtabs a.s.current  { background-position: -553px -62px; }

/* width 2 */
ul.subtabs a.l { background-position: -248px -0px; width:174px; }
ul.subtabs a.l:hover { background-position: -248px -31px; }
ul.subtabs a.l.current { background-position: -248px -62px; }


/* width 3 */
ul.subtabs a.xl { background-position: 0 -0px; width:248px; }
ul.subtabs a.xl:hover { background-position: 0 -31px; }
ul.subtabs a.xl.current { background-position: 0 -62px; }


/* initially all panes are hidden */
.subpanes .subpane {
    display:none;
	margin-top:10px;
	margin-bottom:10px;
}
